body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

header {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 22px;
  line-height: 64px;
}

.sp-menu {
  margin-left: auto;
  display: none;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

main {
  padding: 0 16px;
  text-align: center;
  margin-top: 100px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}


.overlay.show li:nth-child(1) {
  transition-delay: 0.1s;
}
.overlay.show li:nth-child(2) {
  transition-delay: 0.3s;
}
.overlay.show li:nth-child(3) {
  transition-delay: 0.5s;
}

.pc-menu {
  display: flex;
}

.pc-menu nav ul {
  display: flex;
}

.pc-menu nav ul li {
  list-style: none;
  margin-left: 20px;
}



@media (max-width: 600px) {
  .pc-menu {
    display: none;
  }

  .sp-menu {
    display: block;
  }
}
